<header>
    <h1>Houdi Market</h1>
    <div class="category-buttons">
        <button mat-button (click)="selectCategory('all')">All</button>
        <button mat-button (click)="selectCategory('riffles')">Riffles</button>
        <button mat-button (click)="selectCategory('knives')">Knives</button>
        <button mat-button (click)="selectCategory('snipers')">Snipers</button>
    </div>
    <div class="icons">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>shopping_basket</mat-icon>
    </div>
</header>