<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Follow us</h3>
                <a [href]="stackoverflowUrl" target="_blank">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png"
                        alt="" matTooltip="StackOverflow" matTooltipPosition="above" />
                </a>
                <a [href]="facebookUrl" target="_blank">
                    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt=""
                        matTooltip="Facebook" matTooltipPosition="above" />
                </a>
                <a [href]="googleUrl" target="_blank">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
                        alt="" matTooltip="Google+" matTooltipPosition="above" />
                </a>
                <a [href]="linkedinUrl" target="_blank">
                    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt=""
                        matTooltip="LinkedIn" matTooltipPosition="above" />
                </a>
            </div>
            <div class="col-md-4">
                <h3>Important links</h3>
                <ul class="list-unstyled">
                    <li><a (click)="onTermsOfServiceClicked()">Terms of service</a></li>
                    <li><a (click)="onPrivacyPolicyClicked()">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Subscribe to our newsletter</h3>
                <form (ngSubmit)="onSubmit(newsletterForm)" #newsletterForm="ngForm">
                    <input type="email" name="email" ngModel required placeholder="Enter your email">
                    <button type="submit">Subscribe</button>
                    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
                </form>
            </div>
        </div>
        <div *ngIf="promoCode" class="message-promo">Vous bénéficiez 10% de réduction avec le code: HOUDIX</div>
    </div>
</footer>