<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Follow us</h3>
                <a [href]="stackoverflowUrl" target="_blank">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png"
                        alt="" matTooltip="StackOverflow" matTooltipPosition="above" />
                </a>
                <a [href]="twitterUrl" target="_blank">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png"
                        alt="" matTooltip="Twitter" matTooltipPosition="above" />
                </a>
                <a [href]="facebookUrl" target="_blank">
                    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt=""
                        matTooltip="Facebook" matTooltipPosition="above" />
                </a>
                <a [href]="googleUrl" target="_blank">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
                        alt="" matTooltip="Google+" matTooltipPosition="above" />
                </a>
                <a [href]="linkedinUrl" target="_blank">
                    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt=""
                        matTooltip="LinkedIn" matTooltipPosition="above" />
                </a>
            </div>
            <div class="col-md-4">
                <h3>Important links</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Subscribe to our newsletter</h3>
                <form>
                    <div class="form-group"></div>
                    <input type="email" class="form-control" placeholder="Enter your email" />
                    <button type="submit" class="btn btn-primary">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>