<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Follow us</h3>
                <ul class="list-inline">
                    <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Important links</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>