<ng-container *ngFor="let product of filteredProducts">
    <div *ngIf="showOnStockMessage && product.stock > 0" class="message-Onstock">Product is on stock</div>
    <div *ngIf="showOutOfStockMessage && product.stock === 0" class="message-outOfStock">Product is out of stock</div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
            <mat-card-subtitle>{{ product.price | price }}</mat-card-subtitle>
            <mat-card-subtitle>Stock: {{ product.stock }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.photo" alt="Product photo" />
        <mat-card-actions>
            <button [ngClass]="{'onStock': product.stock > 0, 'outOfStock': product.stock === 0}"
                (click)="toggleButtonClick(product)" [disabled]="product.stock === 0" mat-button
                color="primary">Buy</button>
        </mat-card-actions>
    </mat-card>
</ng-container>