<div class="category-buttons">
    <button mat-button (click)="onCategorySelected('all')" [class.selected]="selectedCategory === 'all'">All</button>
    <button mat-button (click)="onCategorySelected('67584836aaabf2ae8ca108bc')"
        [class.selected]="selectedCategory === 'riffles'">Riffles</button>
    <button mat-button (click)="onCategorySelected('67584836aaabf2ae8ca108bf')"
        [class.selected]="selectedCategory === 'knives'">Knives</button>
    <button mat-button (click)="onCategorySelected('67584836aaabf2ae8ca108c2')"
        [class.selected]="selectedCategory === 'snipers'">Snipers</button>
    <button mat-button (click)="onCategorySelected('67584836aaabf2ae8ca108c5')"
        [class.selected]="selectedCategory === 'pistols'">Pistols</button>
</div>

<div class="products">
    <ng-container *ngFor="let product of filteredProducts">
        <div *ngIf="showOnStockMessage && product.stock > 0" class="message-Onstock">Product has been put in card</div>

        <mat-card (click)="viewProductDetails(product.id)">
            <mat-card-header>
                <mat-card-title>{{ product.title }}</mat-card-title>
                <mat-card-subtitle>{{ product.price | price }}</mat-card-subtitle>
                <mat-card-subtitle>Stock: {{ product.stock }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="product.photo" alt="Product photo" />
            <mat-card-actions>
                <button [ngClass]="{'onStock': product.stock > 0, 'outOfStock': product.stock === 0}"
                    (click)="toggleButtonClick(product, $event)" [disabled]="product.stock === 0" mat-button
                    color="primary">Buy</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>