img {
    max-width: 100%;
}

mat-card {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.onStock {
    background-color: green;
    color: white;
}

.outOfStock {
    background-color: red;
    color: white;
}

.message-Onstock {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 40%;
    font-size: 22px;
    color: white;
    background-color: green;
    font-weight: bold;
    border: gray solid;
    border-radius: 4px;
    padding: 15px;
}

.message-outOfStock {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 40%;
    font-size: 22px;
    color: white;
    background-color: red;
    font-weight: bold;
    border: gray solid;
    border-radius: 4px;
    padding: 15px;
}

@media (min-width: 600px) {
    mat-card {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    mat-card {
        width: 30%;
    }
}
