body {
    margin: 0;
    font-family: Arial, sans-serif;
}

mat-card {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    mat-card {
        width: 48%;
        margin: 1%;
    }
}

@media (min-width: 1024px) {
    mat-card {
        width: 30%;
        margin: 1.5%;
    }
}
